body {
  margin: 0;
  background-color: lightgray;
}

#start-btn {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width:500px;
  height:400px;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; /* prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */

  background-image: url("../images/bg.png");
  background-size: cover;

}

#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

#game-screen, #game-over-screen {
  display: none;
}